/*------------------------------- 
        Common Design 
-------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    margin:20px 0;
}
.container{
    background-color: white;
    width: 870px;
    border-radius: 8px;
    padding: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}

/*------------------------------- 
        Top Players Design 
-------------------------------*/
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}
.player{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/*------------------------------- 
        Top Blogs Design 
-------------------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 18px;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-blogs .thumbnail img{
    width: 180px;
    height: 110px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    margin: 5px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/*------------------------------- 
        Latest Courses Design 
-------------------------------*/
.courses{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding-bottom: 15px;
}
.course{
    box-shadow: 3px 3px 12px #c5c4c4;
    padding: 15px;
    height: 280px;
    width: 250px;
    margin: 0 18px;
    border-radius: 8px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-title{
    font-size: 16px;
}
.course-author{
    color: #ED6B4F;
    font-size: 14px;
}
.rate-star{
    color: #FFC014;
    font-size: 14px;
}
span{
    color: #A2A2A2;
    font-size: 14px;
}
.course-duration{
    background-color: #FFE4E8;
    color: #FF4A60;
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 14px;
}

footer p{
    text-align: center;
    color: gray;
}